# Test files
*.test.js
*.test.d.ts
*.test.js.map
*.test.d.ts.map
dist/**/*.test.js
dist/**/*.test.d.ts
dist/**/*.test.js.map
dist/**/*.test.d.ts.map

# Source files
src/

# Development
tests/
.eslintrc*
tsconfig.json
